In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_Hello():
    print("Hello!")

In [2]:
# Call the function.
say_Hello()

Hello!

In [6]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [8]:
say_something("something")

something

In [7]:
# Call the function.
say_something("Hello World")

Hello World

In [11]:
Jane_says = "Hi, my name is Jane. I am leraning Python!"
say_something(Jane_says)

Hi, my name is Jane. I am leraning Python!

In [13]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [19]:
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [20]:
# Change the grades by one letter grade.
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    NaN
1    NaN
2    NaN
3    NaN
dtype: object

In [22]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [23]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [24]:
# format below in whole numbers
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])

my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object