In [68]:
# Add the Pandas dependency.
import pandas as pd

In [53]:
# SERIES
#Create a simple Pandas Series from a list:
a = [1, 7, 2]

#consider any variable such as x, y, myvar and continue with panda series syntax
x = pd.Series(a)

print(x)

0    1
1    7
2    2
dtype: int64

In [55]:
#Index specified
a = [1, 7, 2]

#consider any variable such as x, y, myvar and continue with panda series syntax
x = pd.Series(a)

#Return the first value of the Series: first index = 0, second index = 1.
print(x[0])

1

In [56]:
# With the index argument, you can name your own labels.
# Create you own labels:
a = [1, 7, 2]

x = pd.Series(a, index = ["A", "B", "C"])

print(x)

A    1
B    7
C    2
dtype: int64

In [57]:
# Key/Value Objects as Series
# You can also use a key/value object, like a dictionary, when creating a Series.
# Create a simple Pandas Series from a dictionary:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

x = pd.Series(calories)

print(x)

day1    420
day2    380
day3    390
dtype: int64

In [59]:
# Create a Series using only data from "day1" and "day2":
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [66]:
# DATAFRAME
# Create a DataFrame from two Series:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [65]:
# Locate Row
# Pandas use the loc attribute to return one or more specified row(s)
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

# load the item in DataFrame object:
df = pd.DataFrame(data)

print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [17]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", 
                "Wilson High School", "Wright High School"]

#print(high_schools[0]+"\n"+high_schools[1]+"\n"+high_schools[2]+"\n"+high_schools[3])

for x in high_schools:
    print(x)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [15]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for a in high_school_types:
    print(a)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [19]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [22]:
# Add the Pandas dependency.
import pandas as pd

In [25]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

NameError: name 'pandas' is not defined

In [29]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [37]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [38]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [42]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["type_of_school"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [43]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [45]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [46]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [48]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]

for x in bootcamp_unis:
    print(x)

UCLA
UC Berkeley
UC Irvine
University of Central Florida
Rutgers University

In [49]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]

x = pd.Series(bootcamp_unis)

print(x)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [50]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]

movie_df = pd.DataFrame(movies_dicts)
movie_df

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [51]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

car_info = pd.Series(mydataset)
print(car_info)

cars        [BMW, Volvo, Ford]
passings             [3, 7, 2]
dtype: object

In [52]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

car_info = pd.DataFrame(mydataset)
print(car_info)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2